<<<<<<< HEAD
html,
=======


>>>>>>> f6b30d0adaac15c06a0dc173ad9bb9b026ade021
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
<<<<<<< HEAD
=======
  color: #8A92A1;
  overflow: hidden;
  background: #e3e3e3;

>>>>>>> f6b30d0adaac15c06a0dc173ad9bb9b026ade021
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

<<<<<<< HEAD
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
=======
>>>>>>> f6b30d0adaac15c06a0dc173ad9bb9b026ade021
