.vertical {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 30rem;
    // center the content
    margin: 0 auto;
}

.horizontal {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}