
$background-color: #e3e3e3;
$ranch-color: #d41fb9;
$sidebar-color: #242424;


.landingPage {
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

.mainPage {
    display: flex;
    justify-items: center;
    display: grid;
    grid-template-columns: max-content 1fr;
    // grid-template-rows: auto 1fr;

}

//go Button styles
.goButton {
    color: white;
    background: #D466C3;
    border: none;
    border-radius: 0.5rem;
    padding-left: 5.375rem;
    padding-right: 5.375rem;
    padding-top: 1.325rem;
    padding-bottom: 1.325rem;
    font-size: 5.375rem;
    text-align: center;
}

.goButton:hover {
    box-shadow: 0 0.313rem 0.938rem rgba(217, 70, 217, 0.4);
    padding-left: 5.450rem;
    padding-right: 5.450rem;
    padding-top: 1.4rem;
    padding-bottom: 1.4rem;
    font-size: 5.450rem;
}

//h1 styles
.h1 {
    font-size: 5rem;
    padding-left: 1rem;
    margin: 0;
    text-shadow: 0.125rem 0.125rem 0.125rem rgb(128, 128, 128);
    color: white;
    
}

.h1MainPage {
    font-size: 2.5rem;
    padding-left: 1rem;
    margin: 0;
    text-shadow: 0.125rem 0.125rem 0.125rem rgb(128, 128, 128);
    color: white;
}

.logoMainPage {
    border-radius: 100%;
    box-shadow: 0.125rem 0.125rem 0.125rem $ranch-color;
    width: 3.5rem;
    height: 3.5rem;
}

.logoBar {
    margin-top: 0.25rem;
    display: flex;
    align-items: center;
    padding-bottom: 1.25rem;
    justify-content: center;
    width: 100%;
}

.logo {
    border-radius: 100%;
    box-shadow: 0.125rem 0.125rem 0.125rem $ranch-color;
    width: 5.5rem;
    height: 5.5rem;
}

.goButtonContainer {
    display: flex;
    justify-content: center;
}

.sidebar {
    height: 100vh;
    // min-width: 15rem;
    width: 0rem;
    // background-color: #d5d5d5;
    background-color: $sidebar-color;
    transform: translateX(-100%);
    // display: none;
    // display: flex;
    
    overflow: auto;
}

.sidebarComponents {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.sidebarInnerComponents {
    display: flex;
    align-items: center;
}

.sidebarInnerComponents:hover
{
    background-color: #343434;
}


// .sidebarComponents:hover {
//     background-color: #303030;
// }

.newChatButton {
    background-color: #242424;
    border: 0.031rem solid #ffffff;
    border-radius: 0.5rem;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1.25rem;
    text-align: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    color: #ffffff;
}

.newChatButton:hover {
    background-color: #343434;
}

.chatbox {
    background-color: #28121200;
    justify-content: center;
    // height: 25rem;
    // height: 70%;
    border-radius: 0.5rem;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    // overflow-x: inherit;
}

.messagebox {
    background-color: #ffffff;
    height: 2rem;
    margin: 0;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    border-radius: 0.5rem;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr max-content;
    align-items: center;
    width: 100%;
    // position: absolute;

}

.textinput {
    // height: 100%;
    // width: 60.5rem;
    // margin-left: 1rem;
    padding-left: 1rem;
    border: none;
    font-size: 1rem;
    overflow-y: hidden;
    padding: 0.8rem;
    resize: none;
    color: #8A92A1;
    // height: 100%; /* set the height of the textarea */
  line-height: 100%; /* set the line-height equal to the height */
  vertical-align: middle; 
//   width: 90%;
    // vertical-align: middle;
}

.textinput:focus {
    outline: none;
}

// .textinput::placeholder {
//     color: #8A92A1;
// }

.messageDiv {
    // display: flex;
    // align-items: center;
    display: grid;
    grid-template-columns: max-content 1fr;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 3rem;
    // width: auto;
    width: 90%;
    // overflow: hidden;
    // padding: 1rem;
}

.spanMessage {
    padding-top: 0.688rem;
    padding-left: 1rem;
    font-size: 1rem;
    // width: 100%;
    // max-width: 32rem;
}

.messageboxIcon {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

.chatboxLogo {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 100%;
}

.chatboxComponent {
    justify-items: center;
    width: 90%;
    display: grid;
    grid-template-rows: max-content 1fr max-content;
}

.chatHistoryInput {
    border: none;
    font-size: 1rem;
    overflow-y: hidden;
    padding: 0.125rem;
    resize: none;
    color: #242424;
    background-color: #ffffff;
    border-radius: 0.125rem;
    width: 12rem;
    // margin-bottom: 0.125rem;
}

.chatHistoryInput:disabled {
    background-color: #24242400;
    // background-color: #a9a9a9;
    color: #ffffff;
}

.loginForm {
    position: fixed;
    display: none;
}
  
