$background-color: #e3e3e3;
$ranch-color: #d41fb9;
$sidebar-color: #242424;
$text-color: #6da1ef;

.sidebar {
    height: 100vh;
    width: 15rem;
    background-color: white;
    overflow: auto;
    box-shadow: 0.25rem 0rem 0.5rem rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width: 850px) {
    .sidebar {
        width: 0px;
    }
}

.sidebarComponents {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.newChatButton {
    background: transparent;
    border: 0.031rem solid white;
    border-radius: 0.5rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    font-size: 1.25rem;
    text-align: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    color: white;
    &:hover {
        background-color: white;
        color: $ranch-color;
    }
}

.newChatComponent {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 4rem;
    background-color: $ranch-color;
}

.sidebarInnerComponents {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $text-color;
    margin-top: 1rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    border-radius: 0.5rem;
    width: 14rem
}

.sidebarInnerComponents:hover
{
    background-color: #d41fb949;
}

.chatHistoryInput {
    border: none;
    font-size: 1rem;
    overflow-y: hidden;
    // padding: 0.125rem;
    resize: none;
    background-color: #ffffff;
    border-radius: 0.125rem;
    width: 8rem;
    color: $text-color;
    text-align: left;
    margin-right: 1rem;
}

.chatHistoryInput:disabled {
    background-color: #24242400;
}

.chatHistoryInput:focus {
    outline: 0.031rem solid $text-color;
}

.innerSidebar {
    display: grid;
    height: 100%;
    grid-template-rows: max-content 1fr max-content;
}

.loginModule {
    // padding-top: 1rem;
    // padding-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 4rem;
    color: white;
    background-color: $ranch-color;
}

.logOutButton {
    border-radius: 0.25rem;
    border: 0.031rem solid white;
    // border-color: #ffffff;
    background: transparent;
    color: white;
    &:hover {
        background-color: white;
        color: $ranch-color;
    }
}

.chatComponents {
    overflow-y: auto;
    background: transparent;
    justify-items: center;
    align-items: center;
}

.usernameDiv {
    padding-right: 1rem;
}

