$background-color: #e3e3e3;
$ranch-color: #d41fb9;
$sidebar-color: #242424;

.sidebar {
    height: 100vh;
    width: 15rem;
    background-color: $sidebar-color;
    overflow: auto;
}

@media only screen and (max-width: 850px) {
    .sidebar {
        width: 0px;
    }
}

.sidebarComponents {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.newChatButton {
    background-color: #242424;
    border: 0.031rem solid #ffffff;
    border-radius: 0.5rem;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1.25rem;
    text-align: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    color: #ffffff;
}

.newChatButton:hover {
    background-color: #343434;
}

.sidebarInnerComponents {
    display: flex;
    align-items: center;
}

.sidebarInnerComponents:hover
{
    background-color: #343434;
}

.chatHistoryInput {
    border: none;
    font-size: 1rem;
    overflow-y: hidden;
    padding: 0.125rem;
    resize: none;
    color: #242424;
    background-color: #ffffff;
    border-radius: 0.125rem;
    width: 12rem;
    text-align: center;
}

.chatHistoryInput:disabled {
    background-color: #24242400;
    color: #ffffff;
}