.sidebar {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sidebar .sidebarElements {
    background: #9a96d8;
    position: fixed;
    top: 0;
    left: 0;
    width: 270px;
    height: 100%;
    padding: 20px 0;
    transition: all 0.5s ease;
}

.sidebar .sidebarElements .sidebarLogo {
    margin-bottom: 30px;
    text-align: center;
}

.sidebarButton {
   display: flex;
   justify-content: center;
   align-items: center;
}

.sidebar .sidebarElements .sidebarLogo img {
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
    filter: drop-shadow(1px 3px 4px rgba(0, 0, 0, 0.25));
}

.button {
    filter: drop-shadow(1px 3px 4px rgba(0, 0, 0, 0.25));
}

.userContainer {
    position: absolute;
    bottom: 0;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-50%);
    margin-bottom: 0.6rem;
}

.userContainer img {
    margin-right: 0.5rem;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

.userContainer h1 {
    color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}