$background-color: #e3e3e3;
$ranch-color: #d41fb9;
$sidebar-color: #242424;

.landingPage {
    height: 100vh;
    // justify-content: center;
    // align-items: center;
    // display: flex;
    // flex-direction: row;
}

.h1 {
    font-size: 5rem;
    padding-left: 1rem;
    margin: 0;
    text-shadow: 0.125rem 0.125rem 0.125rem rgb(128, 128, 128);
    color: white;
    
}

.logoBar {
    padding-top: 0.25rem;
    display: flex;
    align-items: center;
    padding-bottom: 0.5rem;
    justify-content: center;
    width: 100%;
}

.logo {
    border-radius: 100%;
    box-shadow: 0.125rem 0.125rem 0.125rem $ranch-color;
    width: 5.5rem;
    height: 5.5rem;
}

.goButton {
    color: white;
    background: #D466C3;
    border: none;
    border-radius: 0.5rem;
    padding-left: 5.375rem;
    padding-right: 5.375rem;
    padding-top: 1.325rem;
    padding-bottom: 1.325rem;
    font-size: 5.375rem;
    text-align: center;
}

.goButton:hover {
    box-shadow: 0 0.313rem 0.938rem rgba(217, 70, 217, 0.4);
    padding-left: 5.450rem;
    padding-right: 5.450rem;
    padding-top: 1.4rem;
    padding-bottom: 1.4rem;
    font-size: 5.450rem;
}

.goButtonContainer {
    display: flex;
    justify-content: center;
}