.mainPage {
    display: flex;
    justify-items: center;
    display: grid;
    grid-template-columns: max-content 1fr;
<<<<<<< Updated upstream
    // grid-template-rows: auto 1fr;
=======
>>>>>>> Stashed changes
}