$background-color: #e3e3e3;
$ranch-color: #d41fb9;
$sidebar-color: #242424;

.landingPage {
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.h1 {
    font-size: 5rem;
    padding-left: 1rem;
    margin: 0;
    text-shadow: 0rem 0rem 0.5rem rgba(0,0,0,0.3);
                //  0px 0px 5px rgba(0,0,0,0.05);

    color: white;
    
}

.logoBar {
    // padding-top: 0.25rem;
    display: flex;
    align-items: center;
    padding-bottom: 2rem;
    justify-content: center;
    width: 100%;
}

.logo {
    border-radius: 100%;
    box-shadow: 0rem 0rem 0.5rem rgba(0,0,0,0.3);
    width: 6rem;
    height: 6rem;
}

// .goButton {
//     color: white;
//     background: #D466C3;
//     border: none;
//     border-radius: 2rem;
//     padding-left: 4rem;
//     padding-right: 4rem;
//     padding-top: 1.325rem;
//     padding-bottom: 1.325rem;
//     font-size: 4rem;
//     text-align: center;
// }

// .goButton:hover {
//     box-shadow: 0 0.313rem 0.938rem rgba(217, 70, 217, 0.4);
//     padding-left: 4rem;
//     padding-right: 4rem;
//     padding-top: 1.325rem;
//     padding-bottom: 1.325rem;
//     font-size: 5rem;
// }

.goButton {
    border-color: #D466C3;
    color: #fff;
    border: none;
    border-radius: 2rem;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 1.325rem;
    padding-bottom: 1.325rem;
    font-size: 4rem;
    text-align: center;
    box-shadow: 0 0 3.125rem 3.125rem #D466C3 inset, 0 0 0 0 #D466C3;
    background-color: transparent;
    transition: all 150ms ease-in-out;
    text-shadow: 0rem 0rem 0.5rem rgba(0,0,0,0.3);
    
    &:hover {
      box-shadow: 0 0 10px 0 #D466C3 inset, 0 0 10px 4px #D466C3;
      color: #D466C3;
    }
    &:active {
      box-shadow: 0 0 3.125rem 3.125rem #D466C3 inset, 0 0 0 0 #D466C3;
      color: #fff;
    }
  }

.goButtonContainer {
    display: flex;
    justify-content: center;
}